> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Firearms USA

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [12]:
gun_df = pd.read_csv('FirearmsUSA2020.csv')
census_df = pd.read_csv('U.S. Census Data.csv')

In [13]:
gun_df.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2020-07,Alabama,48126.0,682.0,34909.0,17250.0,2498.0,1170,0.0,33.0,...,0.0,0.0,0.0,43.0,23.0,10.0,1.0,2.0,0.0,107490
1,2020-07,Alaska,69.0,152.0,4949.0,3779.0,435.0,283,0.0,0.0,...,0.0,0.0,0.0,14.0,6.0,2.0,0.0,0.0,0.0,10108
2,2020-07,Arizona,9402.0,900.0,31040.0,12361.0,2411.0,2866,0.0,7.0,...,1.0,0.0,0.0,23.0,10.0,4.0,0.0,0.0,0.0,60330
3,2020-07,Arkansas,4292.0,847.0,12391.0,7322.0,738.0,432,3.0,12.0,...,0.0,0.0,0.0,19.0,16.0,0.0,1.0,0.0,0.0,27647
4,2020-07,California,35097.0,0.0,67672.0,38618.0,7530.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149685

In [68]:
print('Number of rows is ' + str(gun_df.shape[0]) + ', while the number of columns is ' + str(gun_df.shape[1]) + '.')

Number of rows is 14355, while the number of columns is 27.

In [15]:
# dataset's columns
gun_df.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')

In [16]:
# Number of NaN values in each column
gun_df.isna().sum()

month                            0
state                            0
permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
multiple                         0
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
totals                           0
dtype: int64

There are around 14 thousands rows in this dataset, there are many columns that have even more than 10 thousands NaNs. Columns with thousands NaNs don't carry any useful information. They will be dropped later on in this notebook.

In [131]:
gun_df.isna().sum()>1000

month                        False
state                        False
permit                       False
permit_recheck                True
handgun                      False
long_gun                     False
other                         True
multiple                     False
admin                        False
prepawn_handgun               True
prepawn_long_gun              True
prepawn_other                 True
redemption_handgun            True
redemption_long_gun           True
redemption_other              True
returned_handgun              True
returned_long_gun             True
returned_other                True
rentals_handgun               True
rentals_long_gun              True
private_sale_handgun          True
private_sale_long_gun         True
private_sale_other            True
return_to_seller_handgun      True
return_to_seller_long_gun     True
return_to_seller_other        True
totals                       False
dtype: bool

In [130]:
gun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14355 entries, 0 to 14354
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      14355 non-null  object
 1   state                      14355 non-null  object
 2   permit                     14331 non-null  float64
 3   permit_recheck             2970 non-null   float64
 4   handgun                    14335 non-null  float64
 5   long_gun                   14336 non-null  float64
 6   other                      7370 non-null   float64
 7   multiple                   14355 non-null  int64
 8   admin                      14332 non-null  float64
 9   prepawn_handgun            12412 non-null  float64
 10  prepawn_long_gun           12410 non-null  float64
 11  prepawn_other              6985 non-null   float64
 12  redemption_handgun         12415 non-null  float64
 13  redemption_long_gun        12414 non-null  float64
 14  redemption_other           6985 non-null   float64
 15  returned_handgun           4070 non-null   float64
 16  returned_long_gun          4015 non-null   float64
 17  returned_other             3685 non-null   float64
 18  rentals_handgun            2860 non-null   float64
 19  rentals_long_gun           2695 non-null   float64
 20  private_sale_handgun       4620 non-null   float64
 21  private_sale_long_gun      4620 non-null   float64
 22  private_sale_other         4620 non-null   float64
 23  return_to_seller_handgun   4345 non-null   float64
 24  return_to_seller_long_gun  4620 non-null   float64
 25  return_to_seller_other     4125 non-null   float64
 26  totals                     14355 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 3.0+ MB

In [108]:
# Checking what the 'totals' attribute represents
no_na_gun_df = gun_df.dropna()
print('Is the summation of all the values in each row except for the "totals" equal to the "totals" fields?\n', 
      not (False in (no_na_gun_df.drop(columns=['month', 'state', 'totals']).sum(axis=1)\
            .apply(lambda x: int(x)) == no_na_gun_df['totals']).values))

Is the summation of all the values in each row except for the "totals" equal to the "totals" fields?
 True

The left hand side of the '==' is the summation of all the fields (except 'totals') of each row, the right hand side of it is the values of the 'totals' attribute.

In [17]:
census_df.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [110]:
print('Number of rows is ' + str(census_df.shape[0]) + ', while the number of columns is ' + str(census_df.shape[1]) + '.')

Number of rows is 85, while the number of columns is 52.

In [114]:
census_df.isna().sum()

Fact               5
Fact Note         57
Alabama           20
Alaska            20
Arizona           20
Arkansas          20
California        20
Colorado          20
Connecticut       20
Delaware          20
Florida           20
Georgia           20
Hawaii            20
Idaho             20
Illinois          20
Indiana           20
Iowa              20
Kansas            20
Kentucky          20
Louisiana         20
Maine             20
Maryland          20
Massachusetts     20
Michigan          20
Minnesota         20
Mississippi       20
Missouri          20
Montana           20
Nebraska          20
Nevada            20
New Hampshire     20
New Jersey        20
New Mexico        20
New York          20
North Carolina    20
North Dakota      20
Ohio              20
Oklahoma          20
Oregon            20
Pennsylvania      20
Rhode Island      20
South Carolina    20
South Dakota      20
Tennessee         20
Texas             20
Utah              20
Vermont           20
Virginia          20
Washington        20
West Virginia     20
Wisconsin         20
Wyoming           20
dtype: int64

Probably, the 20 NaNs in all the states are from the same rows.

In [124]:
# Checking if the 20 NaNs in all the states are from the same rows
print('Number of rows in this dataset is ' + str(len(census_df)) + '.')
census_df.drop(columns=['Fact', 'Fact Note']).dropna()

Number of rows in this dataset is 85.

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439","10,310,371",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592","9,688,680",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,6.40%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310","9,687,653",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,6.40%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,"41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756","96,787",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686","800,585",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,168.4,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76","57,513.49",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""","""13""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [129]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 51 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            64 non-null     object
 1   Alabama         64 non-null     object
 2   Alaska          64 non-null     object
 3   Arizona         64 non-null     object
 4   Arkansas        64 non-null     object
 5   California      64 non-null     object
 6   Colorado        64 non-null     object
 7   Connecticut     64 non-null     object
 8   Delaware        64 non-null     object
 9   Florida         64 non-null     object
 10  Georgia         64 non-null     object
 11  Hawaii          64 non-null     object
 12  Idaho           64 non-null     object
 13  Illinois        64 non-null     object
 14  Indiana         64 non-null     object
 15  Iowa            64 non-null     object
 16  Kansas          64 non-null     object
 17  Kentucky        64 non-null     object
 18  Louisiana       64 non-null     object
 19  Maine           64 non-null     object
 20  Maryland        64 non-null     object
 21  Massachusetts   64 non-null     object
 22  Michigan        64 non-null     object
 23  Minnesota       64 non-null     object
 24  Mississippi     64 non-null     object
 25  Missouri        64 non-null     object
 26  Montana         64 non-null     object
 27  Nebraska        64 non-null     object
 28  Nevada          64 non-null     object
 29  New Hampshire   64 non-null     object
 30  New Jersey      64 non-null     object
 31  New Mexico      64 non-null     object
 32  New York        64 non-null     object
 33  North Carolina  64 non-null     object
 34  North Dakota    64 non-null     object
 35  Ohio            64 non-null     object
 36  Oklahoma        64 non-null     object
 37  Oregon          64 non-null     object
 38  Pennsylvania    64 non-null     object
 39  Rhode Island    64 non-null     object
 40  South Carolina  64 non-null     object
 41  South Dakota    64 non-null     object
 42  Tennessee       64 non-null     object
 43  Texas           64 non-null     object
 44  Utah            64 non-null     object
 45  Vermont         64 non-null     object
 46  Virginia        64 non-null     object
 47  Washington      64 non-null     object
 48  West Virginia   64 non-null     object
 49  Wisconsin       64 non-null     object
 50  Wyoming         64 non-null     object
dtypes: object(51)
memory usage: 25.6+ KB

* Since the number of rows is 85, and the number of rows after dropping NaN values is 65, then all the 20 NaN values are from the same  columns.  
*Fact Note column seems to be useless with 57 NaN values, it should be dropped.  
* The Fact column has important information, more columns can be generated like the meaning of the values in the states' columns, date, and time.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

In [128]:
census_df = census_df[:64].drop(columns='Fact Note')
census_df.head()

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...","4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!