> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Firearms USA

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [54]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [55]:
gun_df = pd.read_csv('FirearmsUSA2020.csv')
census_df = pd.read_csv('U.S. Census Data.csv')

In [56]:
gun_df.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2020-07,Alabama,48126.0,682.0,34909.0,17250.0,2498.0,1170,0.0,33.0,...,0.0,0.0,0.0,43.0,23.0,10.0,1.0,2.0,0.0,107490
1,2020-07,Alaska,69.0,152.0,4949.0,3779.0,435.0,283,0.0,0.0,...,0.0,0.0,0.0,14.0,6.0,2.0,0.0,0.0,0.0,10108
2,2020-07,Arizona,9402.0,900.0,31040.0,12361.0,2411.0,2866,0.0,7.0,...,1.0,0.0,0.0,23.0,10.0,4.0,0.0,0.0,0.0,60330
3,2020-07,Arkansas,4292.0,847.0,12391.0,7322.0,738.0,432,3.0,12.0,...,0.0,0.0,0.0,19.0,16.0,0.0,1.0,0.0,0.0,27647
4,2020-07,California,35097.0,0.0,67672.0,38618.0,7530.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149685

In [57]:
print('Number of rows is ' + str(gun_df.shape[0]) + ', while the number of columns is ' + str(gun_df.shape[1]) + '.')

Number of rows is 14355, while the number of columns is 27.

In [58]:
# dataset's columns
gun_df.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')

In [59]:
# Number of NaN values in each column
gun_df.isna().sum()

month                            0
state                            0
permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
multiple                         0
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
totals                           0
dtype: int64

There are around 14 thousands rows in this dataset, there are many columns that have even more than 10 thousands NaNs. Columns with thousands NaNs don't carry any useful information. They will be dropped later on in this notebook.

In [60]:
gun_df.isna().sum()>1000

month                        False
state                        False
permit                       False
permit_recheck                True
handgun                      False
long_gun                     False
other                         True
multiple                     False
admin                        False
prepawn_handgun               True
prepawn_long_gun              True
prepawn_other                 True
redemption_handgun            True
redemption_long_gun           True
redemption_other              True
returned_handgun              True
returned_long_gun             True
returned_other                True
rentals_handgun               True
rentals_long_gun              True
private_sale_handgun          True
private_sale_long_gun         True
private_sale_other            True
return_to_seller_handgun      True
return_to_seller_long_gun     True
return_to_seller_other        True
totals                       False
dtype: bool

In [61]:
gun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14355 entries, 0 to 14354
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      14355 non-null  object
 1   state                      14355 non-null  object
 2   permit                     14331 non-null  float64
 3   permit_recheck             2970 non-null   float64
 4   handgun                    14335 non-null  float64
 5   long_gun                   14336 non-null  float64
 6   other                      7370 non-null   float64
 7   multiple                   14355 non-null  int64
 8   admin                      14332 non-null  float64
 9   prepawn_handgun            12412 non-null  float64
 10  prepawn_long_gun           12410 non-null  float64
 11  prepawn_other              6985 non-null   float64
 12  redemption_handgun         12415 non-null  float64
 13  redemption_long_gun        12414 non-null  float64
 14  redemption_other           6985 non-null   float64
 15  returned_handgun           4070 non-null   float64
 16  returned_long_gun          4015 non-null   float64
 17  returned_other             3685 non-null   float64
 18  rentals_handgun            2860 non-null   float64
 19  rentals_long_gun           2695 non-null   float64
 20  private_sale_handgun       4620 non-null   float64
 21  private_sale_long_gun      4620 non-null   float64
 22  private_sale_other         4620 non-null   float64
 23  return_to_seller_handgun   4345 non-null   float64
 24  return_to_seller_long_gun  4620 non-null   float64
 25  return_to_seller_other     4125 non-null   float64
 26  totals                     14355 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 3.0+ MB

In [62]:
# Checking what the 'totals' attribute represents
no_na_gun_df = gun_df.dropna()
print('Is the summation of all the values in each row except for the "totals" equal to the "totals" fields?\n', 
      not (False in (no_na_gun_df.drop(columns=['month', 'state', 'totals']).sum(axis=1)\
            .apply(lambda x: int(x)) == no_na_gun_df['totals']).values))

Is the summation of all the values in each row except for the "totals" equal to the "totals" fields?
 True

The left hand side of the '==' is the summation of all the fields (except 'totals') of each row, the right hand side of it is the values of the 'totals' attribute.

In [63]:
census_df.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [64]:
print('Number of rows is ' + str(census_df.shape[0]) + ', while the number of columns is ' + str(census_df.shape[1]) + '.')

Number of rows is 85, while the number of columns is 52.

In [65]:
census_df.isna().sum()

Fact               5
Fact Note         57
Alabama           20
Alaska            20
Arizona           20
Arkansas          20
California        20
Colorado          20
Connecticut       20
Delaware          20
Florida           20
Georgia           20
Hawaii            20
Idaho             20
Illinois          20
Indiana           20
Iowa              20
Kansas            20
Kentucky          20
Louisiana         20
Maine             20
Maryland          20
Massachusetts     20
Michigan          20
Minnesota         20
Mississippi       20
Missouri          20
Montana           20
Nebraska          20
Nevada            20
New Hampshire     20
New Jersey        20
New Mexico        20
New York          20
North Carolina    20
North Dakota      20
Ohio              20
Oklahoma          20
Oregon            20
Pennsylvania      20
Rhode Island      20
South Carolina    20
South Dakota      20
Tennessee         20
Texas             20
Utah              20
Vermont           20
Virginia          20
Washington        20
West Virginia     20
Wisconsin         20
Wyoming           20
dtype: int64

Probably, the 20 NaNs in all the states are from the same rows.

In [66]:
# Checking if the 20 NaNs in all the states are from the same rows
print('Number of rows in this dataset is ' + str(len(census_df)) + '.')
census_df.drop(columns=['Fact', 'Fact Note']).dropna()

Number of rows in this dataset is 85.

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439","10,310,371",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592","9,688,680",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,6.40%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310","9,687,653",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,6.40%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,"41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756","96,787",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686","800,585",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,168.4,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76","57,513.49",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""","""13""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [21]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

* Since the number of rows is 85, and the number of rows after dropping NaN values is 65, then all the 20 NaN values are from the same  columns.  
*Fact Note column seems to be useless with 57 NaN values, it should be dropped.  
* The Fact column has important information, more columns can be generated like the meaning of the values in the states' columns, date, and time.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning gun_df

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

In [68]:
# Dropping columns with more than number_NaNs NaN values
def DropColumns(df, number_NaNs):
    columns_to_drop = []
    for i in range(len(df.columns)):
        if (df.isna().sum()>number_NaNs).values[i] == True:
            columns_indices_to_drop.append(i)

    for column_index in columns_indices_to_drop:
        df.drop(columns=df.columns[column_index], inplace=True)
    return df

In [87]:
def DropColumns(df, number_nans):
    columns_to_drop = []
    for column in df.columns:
        if (df[column].isna().sum()>number_nans) == True:
            columns_to_drop.append(column)
    df_no_nans = df.drop(columns=columns_to_drop)
    return df_no_nans

In [90]:
gun_df = DropColumns(gun_df, 1000)
gun_df

         month          state   permit  handgun  long_gun  admin  totals
0      2020-07        Alabama  48126.0  34909.0   17250.0    0.0  107490
1      2020-07         Alaska     69.0   4949.0    3779.0    0.0   10108
2      2020-07        Arizona   9402.0  31040.0   12361.0    0.0   60330
3      2020-07       Arkansas   4292.0  12391.0    7322.0    3.0   27647
4      2020-07     California  35097.0  67672.0   38618.0    0.0  149685
...        ...            ...      ...      ...       ...    ...     ...
14350  1998-11       Virginia      0.0     14.0       2.0    0.0      24
14351  1998-11     Washington      1.0     65.0     286.0    1.0     361
14352  1998-11  West Virginia      3.0    149.0     251.0    0.0     408
14353  1998-11      Wisconsin      0.0     25.0     214.0    0.0     241
14354  1998-11        Wyoming      8.0     45.0      49.0    0.0     107

[14355 rows x 7 columns]

Columns with very high number of missing values are dropped. The next step would be filling NaN values of the remaining columns.

In [114]:
gun_df.isna().sum()

month        0
state        0
permit      24
handgun     20
long_gun    19
admin       23
totals       0
dtype: int64

In [115]:
gun_df[gun_df.permit.isna()]

         month            state  permit  handgun  long_gun  admin  totals
9149   2006-09        Louisiana     NaN   5948.0   10836.0    0.0   19080
9180   2006-09         Virginia     NaN   6935.0   11023.0    0.0   18200
9674   2005-12   Virgin Islands     NaN     22.0       1.0    NaN      23
9729   2005-11   Virgin Islands     NaN     13.0       2.0    NaN      16
9784   2005-10   Virgin Islands     NaN      NaN       NaN    NaN       0
9839   2005-09   Virgin Islands     NaN      NaN       NaN    NaN       0
9894   2005-08   Virgin Islands     NaN      NaN       NaN    NaN       0
9949   2005-07   Virgin Islands     NaN      NaN       NaN    NaN       0
10004  2005-06   Virgin Islands     NaN      NaN       NaN    NaN       0
10059  2005-05   Virgin Islands     NaN      NaN       NaN    NaN       0
10114  2005-04   Virgin Islands     NaN      NaN       1.0    NaN       1
10169  2005-03   Virgin Islands     NaN      NaN       NaN    NaN       0
10224  2005-02   Virgin Islands     NaN      NaN       NaN    NaN       0
10279  2005-01   Virgin Islands     NaN      NaN       NaN    NaN       0
10361  2004-11  Mariana Islands     NaN      NaN       NaN    NaN       0
11544  2003-02   Virgin Islands     NaN      NaN       NaN    NaN       0
13881  1999-07  Mariana Islands     NaN      NaN       NaN    NaN       0
13936  1999-06  Mariana Islands     NaN      NaN       NaN    NaN       0
13991  1999-05  Mariana Islands     NaN      NaN       NaN    NaN       0
14046  1999-04  Mariana Islands     NaN      NaN       NaN    0.0       0
14101  1999-03  Mariana Islands     NaN      NaN       NaN    NaN       0
14156  1999-02  Mariana Islands     NaN      NaN       NaN    NaN       0
14211  1999-01  Mariana Islands     NaN      NaN       NaN    NaN       0
14266  1998-12  Mariana Islands     NaN      NaN       NaN    NaN       0

Most of the NaN values are from the same rows. They have totals of 0, they seem to be not very intuitive. They should be dropped as well.

In [116]:
gun_df.dropna(inplace=True)

'month' column needs to be separated into years and months columns for more useful insights. A split will be occurred on '-' between the years and months values.

In [120]:
gun_df['year'] = gun_df.month.apply(lambda x: x.split('-')[0])
gun_df['month'] = gun_df.month.apply(lambda x: x.split('-')[1])
gun_df.head(2)

  month    state   permit  handgun  long_gun  admin  totals  year
0    07  Alabama  48126.0  34909.0   17250.0    0.0  107490  2020
1    07   Alaska     69.0   4949.0    3779.0    0.0   10108  2020

The next step is just to make data appealing, year and month columns should be next to each other.

In [126]:
cols = list(gun_df.columns)
cols = [cols[-1]] + cols[:-1]
gun_df = gun_df[cols]
gun_df.head(2)

   year month    state   permit  handgun  long_gun  admin  totals
0  2020    07  Alabama  48126.0  34909.0   17250.0    0.0  107490
1  2020    07   Alaska     69.0   4949.0    3779.0    0.0   10108

### Data Cleaning census_df

Dropping NaN values as the two first columns would not add any values or information.

In [134]:
census_df.dropna(inplace=True)
census_df.tail(2)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
52,"Total annual payroll, 2015 ($1,000)",Includes data not distributed by county.,"67,370,353","15,643,303","102,671,393","39,451,191","856,954,246","117,539,555","92,555,072","21,305,227",...,13812997,110481280,"521,095,797","51,453,266","10,615,093","165,788,897","149,258,789","22,159,084","112,406,494","10,094,010"
53,"Total employment, percent change, 2014-2015",Includes data not distributed by county.,1.90%,0.40%,2.40%,1.10%,3.50%,3.30%,1.20%,1.50%,...,0.016,0.022,3.20%,4.90%,2.00%,1.20%,2.90%,-1.70%,2.20%,FN

Removing commas and percentage sign, and then convert string values into float values.

In [141]:
census_df[census_df.columns[2]].apply(lambda x: x.replace(',', ''))

12       69.30%
13       26.80%
14        0.70%
15        1.40%
16        0.10%
18        4.20%
40      7576462
41     26039632
42    124809759
43     57746565
44     58564965
45      $12145
50        98540
51      1634391
52     67370353
53        1.90%
Name: Alabama, dtype: object

In [128]:
census_df = census_df[:64].drop(columns='Fact Note')
census_df.head()

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...","4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!