> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Firearms USA

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [103]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

pd.set_option('mode.chained_assignment', None)

## Helper Functions

In [128]:
# Dropping columns with more than number_NaNs NaN values
def DropColumns(df, number_nans):
    columns_to_drop = []
    for column in df.columns:
        if (df[column].isna().sum()>number_nans) == True:
            columns_to_drop.append(column)
    df_no_nans = df.drop(columns=columns_to_drop)
    return df_no_nans

# Brings last column in df to be the first
def BeginWithLast(df):
    cols = list(df.columns)
    cols = [cols[-1]] + cols[:-1]
    df = df[cols]
    return df

# Gets the length of years mentioned in the column
def getLengthYearValues(x):
    return len(list(set(re.findall(r'[0-9]{4}', x))))

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [105]:
gun_df = pd.read_csv('FirearmsUSA2020.csv')
census_df = pd.read_csv('U.S. Census Data.csv')

In [106]:
gun_df.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2020-07,Alabama,48126.0,682.0,34909.0,17250.0,2498.0,1170,0.0,33.0,...,0.0,0.0,0.0,43.0,23.0,10.0,1.0,2.0,0.0,107490
1,2020-07,Alaska,69.0,152.0,4949.0,3779.0,435.0,283,0.0,0.0,...,0.0,0.0,0.0,14.0,6.0,2.0,0.0,0.0,0.0,10108
2,2020-07,Arizona,9402.0,900.0,31040.0,12361.0,2411.0,2866,0.0,7.0,...,1.0,0.0,0.0,23.0,10.0,4.0,0.0,0.0,0.0,60330
3,2020-07,Arkansas,4292.0,847.0,12391.0,7322.0,738.0,432,3.0,12.0,...,0.0,0.0,0.0,19.0,16.0,0.0,1.0,0.0,0.0,27647
4,2020-07,California,35097.0,0.0,67672.0,38618.0,7530.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,149685

In [107]:
print('Number of rows is ' + str(gun_df.shape[0]) + ', while the number of columns is ' + str(gun_df.shape[1]) + '.')

Number of rows is 14355, while the number of columns is 27.

In [108]:
# dataset's columns
gun_df.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')

In [109]:
# Number of NaN values in each column
gun_df.isna().sum()

month                            0
state                            0
permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
multiple                         0
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
totals                           0
dtype: int64

There are around 14 thousands rows in this dataset, there are many columns that have even more than 10 thousands NaNs. Columns with thousands NaNs don't carry any useful information. They will be dropped later on in this notebook.

In [110]:
gun_df.isna().sum()>1000

month                        False
state                        False
permit                       False
permit_recheck                True
handgun                      False
long_gun                     False
other                         True
multiple                     False
admin                        False
prepawn_handgun               True
prepawn_long_gun              True
prepawn_other                 True
redemption_handgun            True
redemption_long_gun           True
redemption_other              True
returned_handgun              True
returned_long_gun             True
returned_other                True
rentals_handgun               True
rentals_long_gun              True
private_sale_handgun          True
private_sale_long_gun         True
private_sale_other            True
return_to_seller_handgun      True
return_to_seller_long_gun     True
return_to_seller_other        True
totals                       False
dtype: bool

In [111]:
gun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14355 entries, 0 to 14354
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      14355 non-null  object
 1   state                      14355 non-null  object
 2   permit                     14331 non-null  float64
 3   permit_recheck             2970 non-null   float64
 4   handgun                    14335 non-null  float64
 5   long_gun                   14336 non-null  float64
 6   other                      7370 non-null   float64
 7   multiple                   14355 non-null  int64
 8   admin                      14332 non-null  float64
 9   prepawn_handgun            12412 non-null  float64
 10  prepawn_long_gun           12410 non-null  float64
 11  prepawn_other              6985 non-null   float64
 12  redemption_handgun         12415 non-null  float64
 13  redemption_long_gun        12414 non-null  float64
 14  redemption_other           6985 non-null   float64
 15  returned_handgun           4070 non-null   float64
 16  returned_long_gun          4015 non-null   float64
 17  returned_other             3685 non-null   float64
 18  rentals_handgun            2860 non-null   float64
 19  rentals_long_gun           2695 non-null   float64
 20  private_sale_handgun       4620 non-null   float64
 21  private_sale_long_gun      4620 non-null   float64
 22  private_sale_other         4620 non-null   float64
 23  return_to_seller_handgun   4345 non-null   float64
 24  return_to_seller_long_gun  4620 non-null   float64
 25  return_to_seller_other     4125 non-null   float64
 26  totals                     14355 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 3.0+ MB

In [112]:
# Checking what the 'totals' attribute represents
no_na_gun_df = gun_df.dropna()
print('Is the summation of all the values in each row except for the "totals" equal to the "totals" fields?\n', 
      not (False in (no_na_gun_df.drop(columns=['month', 'state', 'totals']).sum(axis=1)\
            .apply(lambda x: int(x)) == no_na_gun_df['totals']).values))

Is the summation of all the values in each row except for the "totals" equal to the "totals" fields?
 True

The left hand side of the '==' is the summation of all the fields (except 'totals') of each row, the right hand side of it is the values of the 'totals' attribute.

In [113]:
census_df.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [114]:
print('Number of rows is ' + str(census_df.shape[0]) + ', while the number of columns is ' + str(census_df.shape[1]) + '.')

Number of rows is 85, while the number of columns is 52.

In [115]:
census_df.isna().sum()

Fact               5
Fact Note         57
Alabama           20
Alaska            20
Arizona           20
Arkansas          20
California        20
Colorado          20
Connecticut       20
Delaware          20
Florida           20
Georgia           20
Hawaii            20
Idaho             20
Illinois          20
Indiana           20
Iowa              20
Kansas            20
Kentucky          20
Louisiana         20
Maine             20
Maryland          20
Massachusetts     20
Michigan          20
Minnesota         20
Mississippi       20
Missouri          20
Montana           20
Nebraska          20
Nevada            20
New Hampshire     20
New Jersey        20
New Mexico        20
New York          20
North Carolina    20
North Dakota      20
Ohio              20
Oklahoma          20
Oregon            20
Pennsylvania      20
Rhode Island      20
South Carolina    20
South Dakota      20
Tennessee         20
Texas             20
Utah              20
Vermont           20
Virginia          20
Washington        20
West Virginia     20
Wisconsin         20
Wyoming           20
dtype: int64

Probably, the 20 NaNs in all the states are from the same rows.

In [116]:
# Checking if the 20 NaNs in all the states are from the same rows
print('Number of rows in this dataset is ' + str(len(census_df)) + '.')
census_df.drop(columns=['Fact', 'Fact Note']).dropna()

Number of rows in this dataset is 85.

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439","10,310,371",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592","9,688,680",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,6.40%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310","9,687,653",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,6.40%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,"41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756","96,787",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686","800,585",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,168.4,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76","57,513.49",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""","""13""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [117]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

* Since the number of rows is 85, and the number of rows after dropping NaN values is 65, then all the 20 NaN values are from the same  columns.  
*Fact Note column seems to be useless with 57 NaN values, it should be dropped.  
* The Fact column has important information, more columns can be generated like the meaning of the values in the states' columns, date, and time.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning gun_df

In [118]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

In [119]:
gun_df = DropColumns(gun_df, 1000)
gun_df

,month,state,permit,handgun,long_gun,multiple,admin,totals
0,2020-07,Alabama,48126.0,34909.0,17250.0,1170,0.0,107490
1,2020-07,Alaska,69.0,4949.0,3779.0,283,0.0,10108
2,2020-07,Arizona,9402.0,31040.0,12361.0,2866,0.0,60330
3,2020-07,Arkansas,4292.0,12391.0,7322.0,432,3.0,27647
4,2020-07,California,35097.0,67672.0,38618.0,0,0.0,149685
...,...,...,...,...,...,...,...,...
14350,1998-11,Virginia,0.0,14.0,2.0,8,0.0,24
14351,1998-11,Washington,1.0,65.0,286.0,8,1.0,361
14352,1998-11,West Virginia,3.0,149.0,251.0,5,0.0,408
14353,1998-11,Wisconsin,0.0,25.0,214.0,2,0.0,241
14354,1998-11,Wyoming,8.0,45.0,49.0,5,0.0,107

Columns with very high number of missing values are dropped. The next step would be filling NaN values of the remaining columns.

In [120]:
gun_df.isna().sum()

month        0
state        0
permit      24
handgun     20
long_gun    19
multiple     0
admin       23
totals       0
dtype: int64

In [121]:
gun_df[gun_df.permit.isna()]

,month,state,permit,handgun,long_gun,multiple,admin,totals
9149,2006-09,Louisiana,NaN,5948.0,10836.0,253,0.0,19080
9180,2006-09,Virginia,NaN,6935.0,11023.0,242,0.0,18200
9674,2005-12,Virgin Islands,NaN,22.0,1.0,0,NaN,23
9729,2005-11,Virgin Islands,NaN,13.0,2.0,1,NaN,16
9784,2005-10,Virgin Islands,NaN,NaN,NaN,0,NaN,0
9839,2005-09,Virgin Islands,NaN,NaN,NaN,0,NaN,0
9894,2005-08,Virgin Islands,NaN,NaN,NaN,0,NaN,0
9949,2005-07,Virgin Islands,NaN,NaN,NaN,0,NaN,0
10004,2005-06,Virgin Islands,NaN,NaN,NaN,0,NaN,0
10059,2005-05,Virgin Islands,NaN,NaN,NaN,0,NaN,0
10114,2005-04,Virgin Islands,NaN,NaN,1.0,0,NaN,1
10169,2005-03,Virgin Islands,NaN,NaN,NaN,0,NaN,0
10224,2005-02,Virgin Islands,NaN,NaN,NaN,0,NaN,0
10279,2005-01,Virgin Islands,NaN,NaN,NaN,0,NaN,0
10361,2004-11,Mariana Islands,NaN,NaN,NaN,0,NaN,0
11544,2003-02,Virgin Islands,NaN,NaN,NaN,0,NaN,0
13881,1999-07,Mariana Islands,NaN,NaN,NaN,0,NaN,0
13936,1999-06,Mariana Islands,NaN,NaN,NaN,0,NaN,0
13991,1999-05,Mariana Islands,NaN,NaN,NaN,0,NaN,0
14046,1999-04,Mariana Islands,NaN,NaN,NaN,0,0.0,0
14101,1999-03,Mariana Islands,NaN,NaN,NaN,0,NaN,0
14156,1999-02,Mariana Islands,NaN,NaN,NaN,0,NaN,0
14211,1999-01,Mariana Islands,NaN,NaN,NaN,0,NaN,0
14266,1998-12,Mariana Islands,NaN,NaN,NaN,0,NaN,0

Most of the NaN values are from the same rows. They have totals of 0, they seem to be not very intuitive. They should be dropped as well.

In [122]:
gun_df.dropna(inplace=True)

'month' column needs to be separated into years and months columns for more useful insights. A split will be occurred on '-' between the years and months values.

In [123]:
gun_df['year'] = gun_df.month.apply(lambda x: x.split('-')[0])
gun_df['month'] = gun_df.month.apply(lambda x: x.split('-')[1])
gun_df.head(2)

  month    state   permit  handgun  long_gun  multiple  admin  totals  year
0    07  Alabama  48126.0  34909.0   17250.0      1170    0.0  107490  2020
1    07   Alaska     69.0   4949.0    3779.0       283    0.0   10108  2020

The next step is just to make data appealing, year and month columns should be next to each other.

In [129]:
gun_df = BeginWithLast(gun_df)
gun_df.head(2)

   year month    state   permit  handgun  long_gun  multiple  admin  totals
0  2020    07  Alabama  48126.0  34909.0   17250.0      1170    0.0  107490
1  2020    07   Alaska     69.0   4949.0    3779.0       283    0.0   10108

### Data Cleaning census_df

'Fact Note' column has 57 NaN values out of 80, it should be dropped.

In [27]:
census_df.drop(columns='Fact Note', inplace=True)

Dropping NaN rows

In [30]:
census_df.dropna(inplace=True)

Most of Fact's rows have years values, some of them have just one value, and others have two values. The one value represents observations for each state at that year, while the two values represent growth through time frame in years.  
That's why the census_df will be split into 3 smaller dataframes.

In [79]:
census_0y_df = census_df[(census_df.Fact.apply(lambda x: getLengthYearValues(x))<1)]
census_0y_df

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
37,"Persons without health insurance, under age 6...",10.70%,15.50%,11.90%,9.30%,8.30%,8.60%,5.70%,6.60%,15.30%,...,0.103,0.106,18.60%,9.70%,4.50%,10.10%,6.90%,6.50%,6.20%,13.40%
49,"Persons in poverty, percent",17.10%,9.90%,16.40%,17.20%,14.30%,11.00%,9.80%,11.70%,14.70%,...,0.133,0.158,15.60%,10.20%,11.90%,11.00%,11.30%,17.90%,11.80%,11.30%
64,FIPS Code,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [81]:
census_1y_df = census_df[(census_df.Fact.apply(lambda x: getLengthYearValues(x))==1)]
census_1y_df

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
3,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%
5,"Persons under 5 years, percent, April 1, 2010",6.40%,7.60%,7.10%,6.80%,6.80%,6.80%,5.70%,6.20%,5.70%,...,0.073,0.064,7.70%,9.50%,5.10%,6.40%,6.50%,5.60%,6.30%,7.10%
6,"Persons under 18 years, percent, July 1, 2016,...",22.60%,25.20%,23.50%,23.60%,23.20%,22.80%,21.10%,21.50%,20.10%,...,0.246,0.226,26.20%,30.20%,19.00%,22.20%,22.40%,20.50%,22.30%,23.70%
7,"Persons under 18 years, percent, April 1, 2010",23.70%,26.40%,25.50%,24.40%,25.00%,24.40%,22.90%,22.90%,21.30%,...,0.249,0.236,27.30%,31.50%,20.70%,23.20%,23.50%,20.90%,23.60%,24.00%
8,"Persons 65 years and over, percent, July 1, 2...",16.10%,10.40%,16.90%,16.30%,13.60%,13.40%,16.10%,17.50%,19.90%,...,0.16,0.157,12.00%,10.50%,18.10%,14.60%,14.80%,18.80%,16.10%,15.00%
9,"Persons 65 years and over, percent, April 1, 2010",13.80%,7.70%,13.80%,14.40%,11.40%,10.90%,14.20%,14.40%,17.30%,...,0.143,0.134,10.30%,9.00%,14.60%,12.20%,12.30%,16.00%,13.70%,12.40%
10,"Female persons, percent, July 1, 2016, (V2016)",51.60%,47.70%,50.30%,50.90%,50.30%,49.70%,51.20%,51.60%,51.10%,...,0.496,0.512,50.40%,49.70%,50.60%,50.80%,50.00%,50.50%,50.30%,48.90%
11,"Female persons, percent, April 1, 2010",51.50%,48.00%,50.30%,50.90%,50.30%,49.90%,51.30%,51.60%,51.10%,...,0.5,0.513,50.40%,49.80%,50.70%,50.90%,50.20%,50.70%,50.40%,49.00%
12,"White alone, percent, July 1, 2016, (V2016)",69.30%,66.10%,83.30%,79.40%,72.70%,87.50%,80.60%,70.10%,77.60%,...,0.852,0.787,79.40%,91.10%,94.60%,70.00%,80.00%,93.60%,87.50%,92.80%
13,"Black or African American alone, percent, July...",26.80%,3.80%,4.90%,15.70%,6.50%,4.50%,11.80%,22.60%,16.80%,...,0.02,0.171,12.60%,1.40%,1.30%,19.80%,4.10%,3.60%,6.60%,1.30%
14,"American Indian and Alaska Native alone, perce...",0.70%,15.20%,5.40%,1.00%,1.70%,1.60%,0.50%,0.60%,0.50%,...,0.09,0.004,1.00%,1.60%,0.40%,0.50%,1.90%,0.20%,1.10%,2.70%
15,"Asian alone, percent, July 1, 2016, (V2016)",1.40%,6.30%,3.40%,1.60%,14.80%,3.30%,4.70%,4.00%,2.90%,...,0.015,0.018,4.80%,2.50%,1.80%,6.60%,8.60%,0.80%,2.80%,1.00%
16,Native Hawaiian and Other Pacific Islander alo...,0.10%,1.30%,0.30%,0.30%,0.50%,0.20%,0.10%,0.10%,0.10%,...,0.001,0.001,0.10%,1.00%,Z,0.10%,0.80%,Z,0.10%,0.10%
17,"Two or More Races, percent, July 1, 2016, (V2...",1.60%,7.30%,2.80%,2.00%,3.80%,3.00%,2.30%,2.60%,2.10%,...,0.023,0.019,1.90%,2.50%,1.90%,2.90%,4.60%,1.70%,1.90%,2.10%
18,"Hispanic or Latino, percent, July 1, 2016, (V...",4.20%,7.00%,30.90%,7.30%,38.90%,21.30%,15.70%,9.20%,24.90%,...,0.037,0.052,39.10%,13.80%,1.90%,9.10%,12.40%,1.50%,6.70%,10.00%
19,"White alone, not Hispanic or Latino, percent, ...",65.80%,61.20%,55.50%,72.90%,37.70%,68.60%,67.70%,62.90%,54.90%,...,0.825,0.742,42.60%,78.80%,93.10%,62.40%,69.50%,92.30%,81.70%,84.10%
22,"Housing units, July 1, 2016, (V2016)","2,230,185","310,658","2,961,003","1,354,762","14,060,525","2,339,118","1,499,116","426,149","9,301,642",...,383838,2919671,"10,753,629","1,054,164","329,525","3,491,054","3,025,685","886,640","2,668,444","270,600"
23,"Housing units, April 1, 2010","2,171,853","306,967","2,844,526","1,316,299","13,680,081","2,212,898","1,487,891","405,885","8,989,580",...,363438,2812133,"9,977,436","979,709","322,539","3,364,939","2,885,677","881,917","2,624,358","261,868"
29,"Building permits, 2016","15,001","1,503","35,578","9,474","102,350","38,974","5,504","5,804","116,240",...,5686,36157,"165,853","22,662","1,771","31,132","44,077","2,544","19,274","1,727"
40,"Total accommodation and food services sales, 2...","7,576,462","2,221,335","13,996,635","4,307,264","90,830,372","13,617,654","9,542,068","2,148,437","49,817,925",...,1873699,12499013,"54,480,811","4,789,281","1,564,272","17,795,901","14,297,278","4,036,333","10,303,256","1,644,844"
41,Total health care and social assistance receip...,"26,039,632","6,375,483","37,055,881","15,792,628","248,953,592","29,488,161","29,573,119","7,003,251","124,061,425",...,6211731,42383683,"145,035,130","14,521,857","4,457,996","47,705,003","43,966,889","12,259,395","40,680,625","3,291,478"
42,"Total manufacturers shipments, 2012 ($1,000)","124,809,759",D,"51,243,473","62,712,925","512,303,164","50,447,098","55,160,095","22,597,384","96,924,106",...,16882647,139960482,"702,603,073","50,046,429","9,315,494","96,389,872","131,530,601","24,553,072","177,728,926","10,783,794"
43,"Total merchant wholesaler sales, 2012 ($1,000)","57,746,565","5,216,303","69,437,272","31,256,110","666,652,186","77,034,971","161,962,244","5,628,914","252,626,608",...,20411059,111718421,"691,242,607","30,927,885","6,450,076","86,613,641","83,313,366","14,295,437","77,066,883","5,597,891"
44,"Total retail sales, 2012 ($1,000)","58,564,965","10,474,275","84,716,542","36,815,256","481,800,461","67,815,200","51,632,467","14,456,001","273,867,145",...,13791827,91641605,"356,116,376","38,024,486","9,933,751","110,002,385","118,924,049","22,637,923","78,201,822","9,446,043"
45,"Total retail sales per capita, 2012","$12,145","$14,320","$12,927","$12,483","$12,665","$13,073","$14,381","$15,763","$14,177",...,16550,14194,"$13,666","$13,317","$15,868","$13,438","$17,243","$12,201","$13,656","$16,388"
50,"Total employer establishments, 2015","98,540","20,907","136,352","65,175","908,120","161,737","89,232","24,852","532,830",...,26511,133344,"569,091","75,463","21,121","197,384","182,913","36,993","139,500","21,040"
51,"Total employment, 2015","1,634,391","267,999","2,295,186","1,003,113","14,325,377","2,253,795","1,503,102","397,385","7,777,990",...,353540,2507205,"10,239,710","1,203,954","266,363","3,198,718","2,602,408","565,435","2,503,532","219,881"
52,"Total annual payroll, 2015 ($1,000)","67,370,353","15,643,303","102,671,393","39,451,191","856,954,246","117,539,555","92,555,072","21,305,227","337,074,525",...,13812997,110481280,"521,095,797","51,453,266","10,615,093","165,788,897","149,258,789","22,159,084","112,406,494","10,094,010"
54,"Total nonemployer establishments, 2015","322,025","55,521","451,951","198,380","3,206,958","480,847","272,809","60,734","2,040,339",...,64006,495703,"2,205,149","216,280","60,312","576,446","444,135","88,136","341,935","48,140"
55,"All firms, 2012","374,153","68,032","499,926","231,959","3,548,449","547,352","326,693","73,418","2,100,187",...,81314,550453,"2,356,748","251,419","75,827","653,193","541,522","114,435","432,980","62,427"
56,"Men-owned firms, 2012","203,604","35,402","245,243","123,158","1,852,580","284,554","187,845","38,328","1,084,885",...,42418,302249,"1,251,696","132,163","41,270","353,012","262,650","63,112","236,252","30,039"
57,"Women-owned firms, 2012","137,630","22,141","182,425","75,962","1,320,085","194,508","106,678","23,964","807,817",...,23722,195694,"866,678","76,269","23,417","236,290","187,677","39,065","133,859","19,344"
58,"Minority-owned firms, 2012","92,219","13,688","135,313","35,982","1,619,857","85,849","56,113","14,440","926,112",...,4101,105234,"1,070,392","24,423","2,354","185,043","92,807","5,777","40,507","4,077"
59,"Nonminority-owned firms, 2012","272,651","51,147","344,981","189,029","1,819,107","442,365","259,614","54,782","1,121,749",...,74228,434025,"1,224,845","218,826","70,491","450,109","426,697","104,785","379,934","55,397"
60,"Veteran-owned firms, 2012","41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012","316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010","50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"

In [82]:
census_2y_df = census_df[(census_df.Fact.apply(lambda x: getLengthYearValues(x))==2)]
census_2y_df

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,"Population estimates base, April 1, 2010, (V2...","4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
20,"Veterans, 2011-2015","363,170","69,323","505,794","220,953","1,777,410","391,725","199,331","71,213","1,507,738",...,63742,462414,"1,539,655","134,332","44,708","706,539","564,864","150,021","381,940","48,505"
21,"Foreign born persons, percent, 2011-2015",3.50%,7.40%,13.50%,4.70%,27.00%,9.80%,13.90%,8.70%,19.70%,...,0.03,0.048,16.60%,8.40%,4.30%,11.70%,13.40%,1.50%,4.80%,3.60%
24,"Owner-occupied housing unit rate, 2011-2015",68.70%,63.40%,62.80%,66.10%,54.30%,64.30%,67.00%,71.20%,65.30%,...,0.681,0.668,62.20%,69.50%,71.00%,66.20%,62.50%,72.50%,67.30%,69.10%
25,"Median value of owner-occupied housing units, ...","$125,500","$250,000","$167,500","$111,400","$385,500","$247,800","$270,500","$231,500","$159,000",...,140500,142100,"$136,000","$215,900","$217,500","$245,000","$259,500","$103,800","$165,800","$194,800"
26,Median selected monthly owner costs -with a mo...,"$1,139","$1,827","$1,343","$1,019","$2,155","$1,577","$2,067","$1,537","$1,435",...,1210,1181,"$1,432","$1,428","$1,535","$1,711","$1,731",$966,"$1,402","$1,348"
27,Median selected monthly owner costs -without a...,$345,$554,$380,$327,$500,$419,$833,$445,$463,...,433,359,$460,$388,$641,$433,$511,$293,$532,$386
28,"Median gross rent, 2011-2015",$717,"$1,146",$913,$677,"$1,255","$1,002","$1,075","$1,018","$1,002",...,655,764,$882,$887,$895,"$1,116","$1,014",$643,$776,$789
30,"Households, 2011-2015","1,848,325","250,969","2,412,212","1,138,025","12,717,801","2,024,468","1,352,583","344,022","7,300,494",...,330858,2504556,"9,149,196","906,292","257,167","3,062,783","2,668,912","740,890","2,299,107","226,865"
31,"Persons per household, 2011-2015",2.55,2.81,2.69,2.53,2.96,2.55,2.57,2.62,2.63,...,2.45,2.53,2.84,3.15,2.34,2.62,2.56,2.43,2.43,2.49
32,"Living in same house 1 year ago, percent of pe...",85.30%,80.90%,81.30%,83.90%,85.20%,80.80%,87.80%,86.60%,83.80%,...,0.834,0.847,83.30%,82.90%,86.50%,84.40%,82.50%,88.20%,85.80%,81.90%
33,"Language other than English spoken at home, pe...",5.20%,16.20%,26.90%,7.20%,43.90%,16.90%,21.90%,12.90%,28.10%,...,0.065,0.069,35.00%,14.70%,5.40%,15.40%,18.90%,2.50%,8.70%,7.10%
34,"High school graduate or higher, percent of per...",84.30%,92.10%,86.00%,84.80%,81.80%,90.70%,89.90%,88.40%,86.90%,...,0.909,0.855,81.90%,91.20%,91.80%,88.30%,90.40%,85.00%,91.00%,92.30%
35,"Bachelor's degree or higher, percent of person...",23.50%,28.00%,27.50%,21.10%,31.40%,38.10%,37.60%,30.00%,27.30%,...,0.27,0.249,27.60%,31.10%,36.00%,36.30%,32.90%,19.20%,27.80%,25.70%
36,"With a disability, under age 65 years, percent...",11.80%,8.10%,8.20%,12.30%,6.80%,7.20%,7.10%,8.50%,8.50%,...,0.084,0.112,8.10%,6.60%,10.00%,7.70%,8.90%,14.40%,8.20%,8.50%
38,"In civilian labor force, total, percent of pop...",58.00%,67.70%,59.30%,58.50%,63.10%,67.60%,67.20%,63.10%,58.80%,...,0.686,0.61,64.30%,67.70%,66.60%,64.70%,63.50%,53.90%,67.10%,67.70%
39,"In civilian labor force, female, percent of po...",53.00%,65.00%,54.50%,53.30%,57.20%,62.60%,62.80%,59.40%,54.70%,...,0.646,0.563,57.70%,59.50%,63.60%,60.80%,58.50%,49.20%,63.50%,62.70%
46,"Mean travel time to work (minutes), workers ag...",24.4,19,24.8,21.6,28,24.8,25.4,25.5,26.4,...,16.9,24.5,25.6,21.6,22.5,27.9,26.3,25.6,21.9,18.3
47,"Median household income (in 2015 dollars), 201...","$43,623","$72,515","$50,255","$41,371","$61,818","$60,629","$70,331","$60,509","$47,507",...,50957,45219,"$53,207","$60,727","$55,176","$65,015","$61,062","$41,751","$53,357","$58,840"
48,Per capita income in past 12 months (in 2015 d...,"$24,091","$33,413","$25,848","$22,798","$30,318","$32,217","$38,803","$30,554","$26,829",...,26747,25227,"$26,999","$24,686","$29,894","$34,152","$31,762","$23,450","$28,340","$29,803"
53,"Total employment, percent change, 2014-2015",1.90%,0.40%,2.40%,1.10%,3.50%,3.30%,1.20%,1.50%,4.50%,...,0.016,0.022,3.20%,4.90%,2.00%,1.20%,2.90%,-1.70%,2.20%,FN

Creating Year column for census_1y_df

In [91]:
census_1y_df['Year'] = census_1y_df.Fact.apply(lambda x: re.findall(r'[0-9]{4}', x)[0])
census_1y_df.head(2)

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Year
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501",2016
3,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310",...,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626",2010

In [97]:
# moving Year column to be in the start
cols = list(census_1y_df.columns)
cols = [cols[-1]] + cols[:-1]
census_1y_df = census_1y_df[cols]
census_1y_df.head(2)

,Year,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2016,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
3,2010,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"

In [100]:
census_1y_df.Fact[5]

'Persons under 5 years, percent, April 1, 2010'

In [98]:
# having only the valuable information in Fact column
census['FactOnly'] = census_1y_df.Fact.apply(lambda x: x.split(',')[0])
census[]

0                                  Population estimates
3                                            Population
4                                 Persons under 5 years
5                                 Persons under 5 years
6                                Persons under 18 years
7                                Persons under 18 years
8                             Persons 65 years and over
9                             Persons 65 years and over
10                                       Female persons
11                                       Female persons
12                                          White alone
13                      Black or African American alone
14              American Indian and Alaska Native alone
15                                          Asian alone
16     Native Hawaiian and Other Pacific Islander alone
17                                    Two or More Races
18                                   Hispanic or Latino
19                                          White alone
22                                        Housing units
23                                        Housing units
29                                     Building permits
40          Total accommodation and food services sales
41    Total health care and social assistance receip...
42                        Total manufacturers shipments
43                      Total merchant wholesaler sales
44                                   Total retail sales
45                        Total retail sales per capita
50                        Total employer establishments
51                                     Total employment
52                                 Total annual payroll
54                     Total nonemployer establishments
55                                            All firms
56                                      Men-owned firms
57                                    Women-owned firms
58                                 Minority-owned firms
59                              Nonminority-owned firms
60                                  Veteran-owned firms
61                               Nonveteran-owned firms
62                           Population per square mile
63                            Land area in square miles
Name: Fact, dtype: object

In [64]:
census_df.tail()

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
60,"Veteran-owned firms, 2012","41,943","7,953","46,780","25,915","252,377","51,722","31,056","7,206","185,756",...,8604,59379,"213,590","18,754","8,237","76,434","49,331","12,912","39,830","6,470"
61,"Nonveteran-owned firms, 2012","316,984","56,091","427,582","192,988","3,176,341","469,524","281,182","60,318","1,846,686",...,66219,469392,"2,057,218","219,807","63,317","548,439","461,401","94,960","370,755","51,353"
62,"Population per square mile, 2010",94.4,1.2,56.3,56,239.1,48.5,738.1,460.8,350.6,...,10.7,153.9,96.3,33.6,67.9,202.6,101.2,77.1,105,5.8
63,"Land area in square miles, 2010","50,645.33","570,640.95","113,594.08","52,035.48","155,779.22","103,641.89","4,842.36","1,948.54","53,624.76",...,75811,41234.9,"261,231.71","82,169.62","9,216.66","39,490.09","66,455.52","24,038.21","54,157.80","97,093.14"
64,FIPS Code,"""01""","""02""","""04""","""05""","""06""","""08""","""09""","""10""","""12""",...,"""46""","""47""","""48""","""49""","""50""","""51""","""53""","""54""","""55""","""56"""

In [59]:
List = [1, 3, 5, 6, 7]
set(List).first()

AttributeError: 'set' object has no attribute 'first'

In [44]:
census_df.Fact[2]

'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)'

In [28]:
census_df.isna().sum()

Fact               5
Alabama           20
Alaska            20
Arizona           20
Arkansas          20
California        20
Colorado          20
Connecticut       20
Delaware          20
Florida           20
Georgia           20
Hawaii            20
Idaho             20
Illinois          20
Indiana           20
Iowa              20
Kansas            20
Kentucky          20
Louisiana         20
Maine             20
Maryland          20
Massachusetts     20
Michigan          20
Minnesota         20
Mississippi       20
Missouri          20
Montana           20
Nebraska          20
Nevada            20
New Hampshire     20
New Jersey        20
New Mexico        20
New York          20
North Carolina    20
North Dakota      20
Ohio              20
Oklahoma          20
Oregon            20
Pennsylvania      20
Rhode Island      20
South Carolina    20
South Dakota      20
Tennessee         20
Texas             20
Utah              20
Vermont           20
Virginia          20
Washington        20
West Virginia     20
Wisconsin         20
Wyoming           20
dtype: int64

Dropping

In [134]:
census_df.dropna(inplace=True)
census_df.tail(2)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
52,"Total annual payroll, 2015 ($1,000)",Includes data not distributed by county.,"67,370,353","15,643,303","102,671,393","39,451,191","856,954,246","117,539,555","92,555,072","21,305,227",...,13812997,110481280,"521,095,797","51,453,266","10,615,093","165,788,897","149,258,789","22,159,084","112,406,494","10,094,010"
53,"Total employment, percent change, 2014-2015",Includes data not distributed by county.,1.90%,0.40%,2.40%,1.10%,3.50%,3.30%,1.20%,1.50%,...,0.016,0.022,3.20%,4.90%,2.00%,1.20%,2.90%,-1.70%,2.20%,FN

Removing commas and percentage sign, and then convert string values into float values.

In [141]:
census_df[census_df.columns[2]].apply(lambda x: x.replace(',', ''))

12       69.30%
13       26.80%
14        0.70%
15        1.40%
16        0.10%
18        4.20%
40      7576462
41     26039632
42    124809759
43     57746565
44     58564965
45      $12145
50        98540
51      1634391
52     67370353
53        1.90%
Name: Alabama, dtype: object

In [128]:
census_df = census_df[:64].drop(columns='Fact Note')
census_df.head()

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...","4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,9.60%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010","4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934","18,801,310",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,5.50%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!